<!DOCTYPE html>
<html>
<head>
<title>한화63시티</title>
<meta charset="utf-8">
</head>
<body style="background:#fff; margin:0; padding:0;">
	<table style="width:750px; border-spacing:0; background:#fff; color:#333; font-size:16px; font-family:sans-serif; line-height:1.5;">
		<tr>
			<td style="padding:0 40px;">
				<table style="width:100%; border-spacing:0;">
					<tr>
						<td style="height:48px; padding:67px 0 0 5px; border-bottom:2px solid #f37321; vertical-align:top;"><a href="http://www.63city.co.kr/index" target="_blank"><img src="http://www.63city.co.kr/resources/img/mail/logo.png" style="border:0; vertical-align:top;" alt="한화63시티" /></a></td>
					</tr>
				</table>
			</td>
		</tr>
		<tr>
			<td style="padding:0 40px; text-align:center;">
				<img src="http://www.63city.co.kr/resources/img/mail/voc_txt2.gif" style="border:0; vertical-align:top;" alt="" />
			</td>
		</tr>
		<tr>
			<td style="padding:0 40px;">
				<table style="width:100%; border-spacing:0; border-top:2px solid #333;">
					<tr>
						<th style="width:180px; height:60px; padding:0 0 0 30px; border-bottom:1px solid #989693; background:#fdf9f3; text-align:left;">등록일시</th>
						<td style="padding:15px 15px 15px 25px; border-bottom:1px solid #989693; border-left:1px solid #333; color:#333;">${regDate}</td>
					</tr>
					<tr>
						<th style="width:180px; height:60px; padding:0 0 0 30px; border-bottom:1px solid #989693; background:#fdf9f3; text-align:left;">제목</th>
						<td style="padding:15px 15px 15px 25px; border-bottom:1px solid #989693; border-left:1px solid #333; color:#333;">${title}</td>
					</tr>
					<tr>
						<th style="width:180px; height:60px; padding:0 0 0 30px; border-bottom:1px solid #989693; background:#fdf9f3; text-align:left;">내용</th>
						<td style="padding:15px 15px 15px 25px; border-bottom:1px solid #989693; border-left:1px solid #333; color:#333;">${contents}</td>
					</tr>
					<tr>
						<th style="width:180px; height:60px; padding:0 0 0 30px; border-bottom:1px solid #989693; background:#fdf9f3; text-align:left;">답변</th>
						<td style="padding:15px 15px 15px 25px; border-bottom:1px solid #989693; border-left:1px solid #333; color:#333;">${replyContents}</td>
					</tr>
				</table>
			</td>
		</tr>
		<tr>
			<td style="padding:0 40px; text-align:center;">
				<img src="http://www.63city.co.kr/resources/img/mail/voc_txt3.gif" style="border:0; vertical-align:top;" alt="발신 전용 메일이므로 회신을 통한 문의는 처리되지 않습니다." />
			</td>
		</tr>
		<tr>
			<td style="padding:0;">
				<img src="http://www.63city.co.kr/resources/img/mail/footer.gif" style="border:0; vertical-align:top;" alt="서울특별시 영등포구 63로 50 (여의도동, 63빌딩) 3층   02-789-6363   Copyright© 2017 Hanwha 63 City CO.,LTD. All Rights Reserved." />
			</td>
		</tr>
	</table>
</body>
</html>